@media only screen and (max-width: 1299px) {
  .logo {width: 200px; margin: 0; padding: 0; display: inline-block;}
}

@media only screen and (min-width: 1300px) {
  .logo {width:30%; margin: 0; padding: 0; display: inline-block;}
}


